<html>
<head>
    <title>Register</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<div class="login-box" style="background-color: rgba(0, 0, 0, 0.5);">
  <h1>Register Form</h1>

  <div class="textbox">
    <i class="fa fa-user" aria-hidden="true"></i>
  <input type="text" name="" value="" placeholder=" Username">
  </div>
  <div class="textbox">
      <i class="fa fa-lock" aria-hidden="true"></i>
  <input type="password" name="" value="" placeholder="Password">
  </div>

  <div class="textbox">
      <i class="fa fa-envelope" aria-hidden="true"></i>
  <input type="text" name="" value="" placeholder="E-Mail">
  </div>

<input class="btn"type="button" name="" value="Sign Up">
</div>


</body>
</html>




